* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
    max-width: 540px;
    margin-bottom: 70px;
}
.container {
    width: 200px;
    height: 480px;
    margin: auto;
    border: 2px solid white;
    border-radius: 30px;
    background-color: rgb(255, 250, 250);
    padding: 2px;
    margin-top: 3px;
    padding-top: 6px;
    padding-bottom: 1px;
    max-width: 540px;
    content: icon;
    margin-left: px;
    max-width: 540px;
    box-sizing: content-box;
}
#wrapper {
    width: 190px;
    height: 470px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(251, 249, 249);
    margin: auto;
    padding-bottom: 0px;
    max-width: 540px;
}
.btn {
    height: 15px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding: 2px;
    color: white solid;
    border: 2px white solid;
}
.btns {
    width: 50px;
    display:grid ;
    justify-content:space-between ;
    justify-content: center;
    margin: auto;
}
.btn hr {
    position: absolute;
    width: 40px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: space-around;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    margin-left: 25px;
    border: 2px;
    border-color: rgb(234, 225, 225) solid;
}
.haed {
    height: 50px;
    background-color: rgb(39, 115, 190);
    border-bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 0%;
    margin-top: 0px;
}
.header i {
    margin-top: 2px;
    padding-bottom: px;
    position: absolute;
    display: grid;
    grid-template-rows: px;
    float: right;
    justify-content: flex-end;
    margin-left:150px;
    margin-right: 5px;
}
/* button {
    font-size:8px;
    position:relative;
    margin-left: 128px;
    margin-top: 18px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 4px;
    background: white;
    border-radius: 5px;
    border: none;
} */
.battery {
    font-size: xx-small;
    float: left;
}
.header {
    justify-content: space-evenly;
    color: white;
    margin-top: 0px;
    height: 70px;
    
}
.header p {
    margin-left: 10px;
    justify-content: flex-start;
    position: absolute;
    font-size: 10px;
    font-weight: lighter;
    font-family: "poppings" sans-serif;
    margin-top:2px;
    padding-top: 0px;
}
.para {
    margin-top: 0px;
    margin-bottom: px;
    
}
#bell {
    justify-content: flex-start;
    margin: auto;
    margin-top: 15px;
    /* margin-right: 20px; */
    float: left;
    font-size: 15px;
    position: relative;
    color: rgb(241, 235, 235) ;
}
.wifi i {
    display: flex;
    justify-content: flex-start;
    margin-right: 100px;
}
.header p b {
    justify-content: center;
    margin-top: 10px;
    font-weight: lighter;
    font: 20px;
}
.fa-solid fa-wifi {
    color: white;
}
.fa-solid fa-battery-bolt {
    color: green;

}
.fontsss p {
    font-size: smaller;
    font-size:x-small;
    margin-right: 0px; 
    padding-right: 0px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
    margin-left: 60px;
    margin-bottom: 5px;
    margin-top: 20px;

}
.h3 {
    font-size: smaller;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
}
.fa-box {
    justify-content: center;
    background-color:white;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    cursor: all-scroll;
    cursor: auto;
}
.fa-solid fa-box-archive {
    background-color: rgb(225, 47, 47);
    color: white;
}
.fa-box p{
    justify-content: flex-start;
}
.fa-box p p {
    justify-content: flex-start;
}
input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  h2 {
    font-size:15px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  button {
    background-color: #04AA6D;
    color: white;
    background-color: #3844ed;
    width: 300px;
    /* max-width: 228px; */
    height: 45px;
    padding: 10px;
    margin-top: 5px;
    color: white;
  }
  a {
    color: white;
  }
  
  /* style inputs and link buttons */
  input,
  .btn {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    gap: 5px;
    text-decoration: none; remove underline from anchors
  }
  
  input:hover,
  .btn:hover {
    /* opacity: 1; */
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-right: 5px;
    padding-bottom: 30px;
    height: 5px;
    width: 180px;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-right: 5px;
    padding-bottom: 30px;
    height: 5px;
    width: 180px;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
    padding-left: 10px;
    cursor: pointer;
    margin-right: 5px;
    padding-bottom: 30px;
    height: 5px;
    width: 180px;
  }
  
  
  /* Two-column layout */
  .web-page {
    float: left;
    width: 100%;
    margin-left: 3px;
    margin-top: 6px;
    margin-right: 5px;
  }
  

  .last-container {
  background-color: rgb(125, 121, 121);
  position: absolute;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 4px;
  margin-right: 5px;
  height: 100px;
  width: 180px;
  padding: 5px;
  text-decoration: none; remove underline from anchors
  }
  .cont {
    background-color: rgb(95, 93, 93);
  }
  button {
      background-color: #3844ed;
      width: 180px;
      height: 15px;
      padding-bottom: 20px;
      padding-top: 5px;
      padding-left: 2px;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      color: white;
  }
  .sign {
    color: white;
    margin-right: 10px;
    padding-right: 10px;
    text-decoration: none; remove underline from anchors

  }
  .forget {
    margin-right: 10px;
    text-decoration: none; remove underline from anchors
  }
  .href {
    background-color: rgb(11, 126, 187);
    margin-right: 10px;
    padding-right: 10px;
    width: 100%;
    text-decoration: none; remove underline from anchors
  }
  a {
      color: rgb(231, 235, 237);
  }
  footer {
    background-color:  rgb(251, 249, 249);
    margin-top: 110px;
    height: 30px;
  }
  .hori {
    width: 80px;
    background-color: rgb(204, 196, 196);
    border-radius: 5px;
    border-color: rgb(227, 218, 218);
    margin: auto;
    position:relative;
    top: 25px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
  }